@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.glow-border {
  --clr-1: theme('colors.w-red');
  --clr-2: theme('colors.w-blue');
  --clr-3: theme('colors.w-cream');
}

.glow-border::before,
.glow-border::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.glow-border::before {
  opacity: 0;
  inset: -0.25rem;
}

.glow-border:hover::before {
  opacity: 1;
  transition: opacity 0.5s linear;
  animation-duration: 5s;
}

.glow-border:hover::after {
  opacity: 0.5;
}

.glow-border::after {
  transition: opacity 0.5s linear;
  inset: -0.5rem;
  filter: blur(3rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.lds-dual-ring {
  color: theme('colors.w-cream')
}


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

